#for test servers only
cfg/cfg.d/database_pw.pl
cfg/cfg.d/database_pw_test.pl
cfg/cfg.d/10_core_test.pl
cfg/datacite.passwd
cfg/ldap.passwd
cfg/cfg.d/z_datacitedoi_test.pl
#handled by submodule
cfg/cfg.d/z_maps.pl
cgi/MapView

