/***************************************************************************
*Second set of LSHTMDR specific overrides  by SJ  
*Unable to gain access to backend and epm imports unable to overwrite local styles, 
*therefore additonal overwrites added here. Note: auto additions will not work due to 
*loading order via default.xml import
***************************************************************************/
h1 {
	font-size:2.9em;
}

#page-heading {
  position: relative;
  background: url(../display_images/page_heading_bg_compass.png) bottom right no-repeat #000000;
  padding: 17px 2em 0;
  color: #F1F1F1;
  overflow: hidden;
}


div#lshtmdr_home_map {
 	width: 304 !important; 
 	height: 207px !important;
    float: right;
    border: none;
}
	   
/* overrides for lshtm surround component */     
/* ep_sr */
.ep_sr_component {
	clear:both;
	padding: 0px;
}

.ep_sr_content {
	font-size: 94%;
/*  text-align: center;  messes Type */
	margin-left: 35px;
	margin-bottom: 40px;
	margin-top: 5px;
	padding: 6px;
	background-image:none;
	background-color: transparent;
	border-color: white;
}

.ep_sr_component .ep_sr_content table {
  font-size: 86%;
}

.ep_sr_component .ep_sr_title_bar {
	padding: 2px 6px 2px 6px; 
	height: 31px;
	margin-left: 14px;
	font-weight: normal;
	background-image:none;
	background-color: #e6e9f5;
	
}

.ep_sr_component .ep_sr_title {
	padding-top:3px;
	font-size: 92%;
	color: #444;
	font-weight: normal;
}

/* collapse bar */
.ep_sr_collapse_bar {
	height: 29px;
	padding-top:5px;
	margin-left: 14px;
	font-weight: normal;
	font-size: 92%;
	background-color: #e6e9f5;
	background-image:none;
}
.ep_sr_collapse_bar a {
	text-decoration: none;
}
.ep_sr_title a {
	text-decoration: none;
}
.ep_sr_collapse_link img
{
	vertical-align: -2px;
}

select {
	font-size:95%;
}



/* used for multi, maybe should be elsewhere */
.ep_sr_component .ep_sr_help_chunk {
	border-bottom: 1px solid #888;
	padding-bottom: 4px; 
	margin-bottom: 4px;
}

.ep_sr_component .ep_form_input_grid {
	margin-left: 0px;

}
.ep_multi_input .ep_form_input_grid {
	margin-left: 0px;

}


/* extras for input box borders */
textarea {
	
}

img.ep_required{
	vertical-align:middle;
}

.ep_sr_component input{
	width: auto;
	height: 20px;
}
.ui-tooltip {
    background: #c9e5f5;
    color: black;
    max-width: 500px;
    font-size: 0.9em;
    border: none;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

/* overrides for form buttons */
.ep_sr_help_icon{
	margin-left:310px;
	position:absolute;
	margin-top:-28px;
	
}

.ep_form_action_button {
	background-color: #6788ae !important;
	border: 0px none white !important;

}

.ep_form_internal_button {
	border: 0px none white !important;
	background-color: #6788ae !important;
	font-family: "Arial", Georgia, Serif !important;

}

.ep_no.js{
	font-family: "Arial", Georgia, Serif !important;
}

.ep_blister_bar{
	clear:both;
}

.ep_blister_node_selected {
	border: 0px none white !important;
	background-color: #1f4f76 !important;
	background-image: none !important;
	color: #555;

} 

.ep_blister_node {
	
	border: 0px none white !important;
	background-color: #e6e9f5 !important;
	background-image: none !important;
	color:black;

} 


#content h2 {
    font-family: "Arial, Georgia, Serif";
	width: 64%;
	float: left;
	font-weight: normal;
	font-size: 1.5em;
}

h1.ep_tm_pagetitle {
	font-family: "Arial, Georgia, Serif";
	font-weight: normal;
	font-size: 1.5em;
}


/* home page overrides */
div.lshtmdr_home_slider {
  	margin: 1em;  
  	display: inline-block;	
	background-color: white;
	padding: 0.5em 0.5em 0.5em 0.5em; 
  	-moz-border-radius: 15px;
	border-radius: 15px;
}
div.lshtmdr_home_slider p {
  	margin-bottom: 1em;
}

div#lshtmdr_home_text {
 	padding-top:0px;
 	width: 60%;
  	float: left;
}

div#lshtmdr_home_search_submit{

	border-width: 1px 0px 1px 0px;
	border-style: dashed;
	border-color: grey;
	border-radius: 0px;
	font-size:0.9em;
	
}

div#lshtmdr_home_map {
 	width: 30%; 
    float: right;
    min-height:200px;
    background-image: url("/display_images/map.png");
}

#lshtmdr_home_map h4{
	color:white;
}

#lshtmdr_home_search_submit{
	color:black;
	
}

#lshtmdr_home_search_submit h4{
	color:black;
}

div#lshtmdr_home_latest {
 	width: 60%; 
  	float: left;
  
}
div#lshtmdr_home_latest iframe .citation{
  	width: 100%;
  	height: 300px;
  	overflow: auto;
  	color: red;
}

div#lshtmdr_home_latest{
  	background-color: #eee;
  	/*min-height: 450px;*/
  	font-family: "Arial, Georgia, Serif";
}


.twitter-timeline {
margin-top:-15px !important;
height: 200px !important;

}

div#lshtmdr_home_howto {
 	width: 30%; 
    border:none;
}

div#footer{
	font-family: "Arial, Georgia, Serif";
}

.ui-datepicker-trigger{
	margin-left:15px;

}
