/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/


ul.lshtm_ul_with_bullets {
 	list-style-type: disc; 
}

ul.lshtm_ul_with_bullets li {
 	list-style-type: disc; 
  	margin-left: 1em;
}